*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body{
    background-image: url('/images/amegy.jpg');
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    width: 80vw;
    max-width: 80%;
    background-image: url('/images/template.jpg');
    height: 70vh;
    box-shadow: 0 0 5px 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    text-align: center;
    opacity: 95%;
}
.question{
    font-size: 50px;
}

.content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.btn{
    font-size: large;
    font-weight: bold;
    box-shadow: 0 6px 12px -2px rgba(#f27813, .15);
    background: #ef9614;
    border-radius: 4px;
    padding: 10px;
    color: beige;
    margin: 6px;
    cursor: pointer;
}

.btn:hover{
    color: black;
    padding: 15px;
}

.options{
    padding: 10px;
    order: 3;
}

.controls{
    padding: 10px;
    order: 4;
}

.hide{
    display: none;
}